*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

a{
    color: black;
}

.nav_bar{ 
    height: 80px;
    text-align: right;
    background-color: rgb(190, 235, 146);
}

.nav_bar ul li{ 
    display: inline-block;
}

li{ 
    margin-top: 30px;
    margin-right: 90px;
}

.parent{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child{
    border: 1px solid red;
    width: 250px;
    height: 350px;
    margin: 30px;
}

.single_div{
    height: 200px;
    background-color: aqua;
}